@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.sec {
    @apply h-screen w-full bg-cover bg-center ;
}
.model-content {
    @apply absolute  mt-[20%] left-[20%] lg:mt-[7%] lg:left-[40%]  text-center;
}

.name-model {
    @apply text-6xl font-bold text-gray-800 mb-[5%];
}
.order{
    @apply text-2xl;
}
.link {
    @apply underline cursor-pointer;
}
.btn {
    @apply absolute  mt-[80%] left-[20%] lg:mt-[35%] lg:left-[28%] text-center flex lg:flex-row gap-8  flex-col ;
}
.btn1 {
    @apply text-3xl bg-slate-800 text-white rounded-3xl cursor-pointer py-5 px-20 box-border;
}
.btn2 {
    @apply text-3xl bg-slate-200  text-slate-800 rounded-3xl cursor-pointer py-5 px-16 box-border;
}
.arrow {
    @apply absolute mt-[43%] left-[50%] w-20 animate-bounce;
}